// Core Styling Elements

@import "./palette";
@import "./gridSquares";
@import "./gridLayout";
@import "./buttons";


//INDEX
// - GRID STYLE
// - SQUARE STYLE
// - ICON STYLE 
// - BUTTON STYLES

body {
    background-color: $mainbeige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
}

.game-main-heading {
    display: flex;
    font-size: 90px;
    font-family: "Montserrat";
    font-weight: 400;
    width: 90vw;
    justify-content: flex-end;
    margin-bottom: 0;

}

span {
    color: $darkclay;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.game-message {
    font-family: 'Montserrat';
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    padding-top: 5%;
}