// Core Styling Elements

@import "./palette";
@import "./gridSquares";
@import "./gridLayout";


//INDEX
// - GRID STYLE
// - SQUARE STYLE
// - ICON STYLE 
// - BUTTON STYLES

body {
    background-color: $mainbeige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}